extends ../layout

block content
    .container.mt-4
        h1 Ajouter une musique
        form(action="/search", method="get")
            input(type="text", name="keyword", placeholder="Chercher une musique")
            button(type="submit") Rechercher

        if musics
            h2 Résultats de la Recherche pour #{keyword}
                for track in musics
                    .track-container.d-flex.justify-content-around.rounded.bg-light.text-secondary.p-3.mb-3
                        .track-cover.d-flex.align-items-center
                            p
                             img(src=track.cover, alt='Couverture de l\'album')
                        .track-details.text-right.p-3.mb-3
                            p Titre de la chanson: #{track.title}
                            p Artiste: #{track.artist_name}
                            .track-button-actions
                                if track.exists == false
                                    form(method="post")                                            
                                        input(type="hidden" name="id_rapid_api_deezer" value=track.id_rapid_api_deezer)
                                        input(type="hidden" name="title" value=track.title)
                                        input(type="hidden" name="artist_name" value=track.artist_name)
                                        input(type="hidden" name="cover" value=track.cover)
                                        input(type="hidden" name="preview" value=track.preview)
                                        button.btn.btn-secondary(type="submit") Ajouter cette musique
                                else
                                    button.btn.btn-danger(type="submit") Cette musique est déjà ajoutée
        else
            p Aucun résultat trouvé pour #{keyword}

